.product{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0.2rem;
    padding: 0.2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.productImage{
    padding: 0.4rem;
}

.img{
    height: 15rem;
}

.productAbout{
    width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 600;
    font-size: x-large;
}

.rating{
    color: white;
    fill: gold;
}

.productDescription{
    width: 20rem;
    font-size:x-large;
    font-weight: 500;
}

.actionButtons{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-around;
}

.addToCart{
    line-height: 2rem;
    padding: 0.2rem;
    width: 8rem;
    border-radius: 0.4rem;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: #009cff;
    border: none;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        border: 0.2rem solid white;
    }
}

.outer{
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    &:hover{
        border: 1px solid #009cff;
    }
}

.edit{
    padding: 0.5rem;
    font-size: 2rem;

}

.delete{
    padding: 0.5rem;
    font-size: 2rem;

}

.save{
    line-height: 2rem;
    padding: 0.2rem;
    width: 8rem;
    border-radius: 0.4rem;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: #009cff;
    border: none;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        border: 0.2rem solid white;
    }

}

.updateInput{
    background-color:rgb(243, 242, 241);
    border-radius: 0.2rem;
    padding: 0.5rem;
    height: 2rem;
    width: 25rem;
    font-size: large;
}