.sortButton{
    margin: 0.2rem;
    position: relative;
    left:90%;
    line-height: 2rem;
    padding: 0.8rem;
    width: 9rem;
    border-radius: 0.4rem;
    font-size: large;
    font-weight: 600;
    color: white;
    background-color: #009cff;
    border: none;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1);
    &:hover{
        background-color: #009dff70;
    }
    cursor: pointer;
}